defaults: &defaults
  host: https://p15v4-vcd.vchs.vmware.com
  username:
  password:
  org: 
  api_version: 5.6
  logging: debug

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
